.guides {
    // background-color: rgba($color-secondary-1-4, .3);
    background-image: linear-gradient(rgba($color-secondary-1-4, .3), rgba($color-secondary-1-4, .3)), url("../img/summer-1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1 / -1;    
    padding: 20rem 0;
    // margin: 2rem 0;
    
    .heading-4 {
        font-size: 3rem;
    }

    &__quote {
        font-size: 2rem;
    }
    
    &__img {
        width: 100px;
        border-radius: 50%;        
    }

    &__list {
        margin: 5rem 0 5rem 0;
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        justify-content: center;
        justify-items: center;
        align-items: center;
        // grid-gap: 1.5rem;        
        padding-right: 2rem;
        padding-left: 2rem;              
     }

     &__details{
         display: grid;
         justify-items: center;
     }
}

